PARKING_MIN_ISSUE_DATE=2000-01-01
PARKING_MAX_ISSUE_DATE=2025-12-31
GEOSERVICE_API_KEY=replace_with_your_nyc_geoservice_key
GEOSUPPORT_PATH=C:\Users\your_name\AppData\Local\Programs\Geosupport Desktop Edition
