.env
.venv/
__pycache__/
*.pyc
*.egg-info/

/data/raw/parking_clean.csv
/data/raw/nyc_weather_daily.csv
/data/raw/parking_fast.csv
/data/processed/parking_clean.csv
nycparkingbackup.zip
.vscode
.sixth
MySQLCYou.session.sql
nycpark.zip
/data/raw/nycparking2025.csv
/data/raw/fines_extracted_fixed.csv
/data/raw/fines_extracted.csv
random_info.sqlite
