.env
.venv/
__pycache__/
*.pyc
*.egg-info/

/data/raw/*.csv
/data/raw/parking_clean.csv
/data/raw/parking_fast.csv
/data/processed/parking_clean.csv
/data/database/*.sqlite
/data/database/*.sqlite-shm
/data/database/*.sqlite-wal
/data/database/*.log
nycparkingbackup.zip
.vscode
.sixth
/data/raw/nycparking2025.csv
/data/raw/fines_extracted.csv
/notebooks/data/processed/parking_clean.csv
/data/raw/nyc_weather_daily.csv
/data/raw/nyc_census_borough.csv
parkinganalytics.zip
